* {
    box-sizing: border-box;
}


.page-body {
    margin: 0 auto;
}


.menu-nav {
    margin: 0 auto;
    width: 620px;
}


.menu-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}


.menu-item {
    margin: 25.5px 0;
}


.menu-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #ff0000;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2.7px;
}



.content {
    display: flex;
    flex-direction: column;
}


.img {
    width: 100%;
}


.title {
    margin: 49px 0 0;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 3.3px;
    color: #373737;
}


.text1 {
    margin: 38px 0 0;
    text-align: center;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    color: #373737;
    letter-spacing: 2.4px;
}


.text2 {
    margin: 28px 0 0;
    text-align: center;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    color: #373737;
    letter-spacing: 2.4px;
}


.button {
    margin: 66px 0 42px;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 18px 0;
    width: 191px;
    background-color: #ff0000;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    border-radius: 4px;
}


.copyright {
    margin: 40px 105px 29px 713px;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: right;
}
